/*
     CSS-Tricks Example
     by Chris Coyier
     http://css-tricks.com
*/

/* body {
 *     font: 14px/1.4 Georgia, serif;
 * }
 */

#page-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

#page-wrap textarea {
    border: none;
    font-size: 14px;
    overflow: hidden;
    resize: none;
}

#page-wrap table {
    border-collapse: collapse;
}

#page-wrap table td,
#page-wrap table th {
    border: 1px solid black;
    padding: 5px;
}

#page-wrap table td {
    padding: 5px;
}

#header {
    margin: 20px 0;
    background: #222;
    text-align: center;
    color: white;
    font-size: 2.0em;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 10px 0;
}

/* First row */
#logo {
    text-align: right;
    margin-top: 15px;
    float: left;
    position: relative;
    border: 1px solid #fff;
    max-height: 150px;
    overflow: hidden;
}

#logo img {
    max-height: 150px;
    max-width: 270px;
}

/* #logo:hover,
 * #logo.edit {
 *     border: 1px solid #000;
 *     margin-top: 0px;
 *     max-height: 125px;
 * }
 */
#logoctr {
    display: none;
}

#logo:hover #logoctr,
#logo.edit #logoctr {
    display: block;
    text-align: right;
    line-height: 25px;
    background: #eee;
    padding: 0 5px;
}

#logohelp {
    text-align: left;
    display: none;
    font-style: italic;
    padding: 10px 5px;
}

#logohelp input {
    margin-bottom: 5px;
}

.edit #logohelp {
    display: block;
}

.edit #save-logo,
.edit #cancel-logo {
    display: inline;
}

.edit #image,
#save-logo,
#cancel-logo,
.edit #change-logo,
.edit #delete-logo {
    display: none;
}

#customer-title {
    height: 100px;
    float: right;
    margin-top: 40px;
}

#customer-title textarea {
    width: 200px;
}

/* Second row */
#block2 {
    overflow: hidden;
    width: 100%;
}

#company-title {
    float: left;
}

#meta {
    margin-top: 1px;
    width: 300px;
    float: right;
}

#meta td {
    text-align: right;
}

#meta td.meta-head {
    text-align: left;
    background: #eee;
}

#meta td textarea {
    width: 100%;
    height: 20px;
    text-align: right;
}

#items {
    clear: both;
    width: 100%;
    margin: 30px 0 0 0;
    border: 1px solid black;
}

#items th {
    background: #eee;
    text-align: center;
}

#items textarea {
    width: 80px;
    height: 20px;
}

#items tr.item-row td {
    border: none;
    vertical-align: top;
}

#items td.description {
    width: 300px;
}

#items td.item-name {
    width: auto;
}

#items th.col-item-number,
#items td.col-item-number {
    width: 8%;
    white-space: nowrap;
}

#items th.col-hsn,
#items td.col-hsn {
    width: 8%;
    white-space: nowrap;
}

#items th.col-qty,
#items td.col-qty {
    width: 8%;
    white-space: nowrap;
    text-align: center;
}

#items th.col-price,
#items td.col-price {
    width: 11%;
    white-space: nowrap;
}

#items th.col-disc,
#items td.col-disc {
    width: 9%;
    white-space: nowrap;
    text-align: center;
}

#items th.col-total,
#items td.col-total {
    width: 12%;
    white-space: nowrap;
    text-align: right;
}

#items td.item-description textarea {
    height: auto;
    width: 100%;
}

#items td.description textarea,
#items td.item-name textarea {
    width: 100%;
}

#items td.total-line {
    border-right: 0;
    text-align: right;
}

#items td.total-value {
    border-left: 0;
    padding: 10px;
}

#items td.total-value textarea {
    height: 20px;
    background: none;
}

#items td.total-line textarea {
    height: 20px;
    width: 150px;
    background: none;
}

#items td.balance {
    background: #eee;
}

#items td.blank {
    border: none;
}

#items td.blank-bottom {
    border: 1px;
}

#terms {
    text-align: center;
    margin: 20px 0 0 0;
}

#terms h5 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
}

#terms textarea {
    width: 100%;
    text-align: center;
}

#barcode {
    font-size: 11px;
}

#barcode svg,
#barcode img {
    max-width: 160px;
    height: auto;
}

.delete-wpr {
    position: relative;
}

.delete {
    display: block;
    color: #000;
    text-decoration: none;
    position: absolute;
    background: #EEEEEE;
    font-weight: bold;
    padding: 0px 3px;
    border: 1px solid;
    top: -6px;
    left: -22px;
    font-family: Verdana;
    font-size: 12px;
}

@media print and (max-width: 90mm) {
    @page {
        margin: 0;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    #page-wrap {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
        padding: 1.5mm;
        box-sizing: border-box;
        font-size: 11px;
    }

    #header {
        margin: 0 0 2mm 0;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 2mm 0;
    }

    #block1,
    #block2 {
        display: block;
        overflow: visible;
    }

    #logo,
    #customer-title,
    #company-title,
    #meta {
        float: none !important;
        width: 100% !important;
        height: auto !important;
        margin: 0 0 2mm 0 !important;
        text-align: left;
    }

    #logo {
        border: 0;
        max-height: none;
    }

    #logo img {
        max-width: 100%;
        height: auto;
    }

    #meta td,
    #meta td.meta-head {
        text-align: left;
    }

    #items {
        width: 100%;
        margin-top: 2mm;
        table-layout: auto;
    }

    #items th,
    #items td {
        padding: 1.2mm 0.8mm;
        font-size: 10px;
        line-height: 1.2;
        word-break: normal;
        overflow-wrap: normal;
    }

    #items th.col-item-number,
    #items td.col-item-number {
        display: none;
    }

    #items th.col-qty,
    #items td.col-qty {
        width: 9%;
        white-space: nowrap;
    }

    #items th.col-price,
    #items td.col-price {
        width: 13%;
        white-space: nowrap;
    }

    #items th.col-disc,
    #items td.col-disc {
        width: 11%;
        white-space: nowrap;
    }

    #items th.col-total,
    #items td.col-total {
        width: 13%;
        white-space: nowrap;
    }

    #items td.item-name,
    #items td.description {
        width: auto;
    }

    #terms {
        margin-top: 3mm;
    }

    #terms h5 {
        font-size: 10px;
        letter-spacing: 2px;
        padding: 0 0 1mm 0;
        margin: 0 0 1mm 0;
    }

    #barcode svg,
    #barcode img {
        max-width: 120px;
    }
}

@media print {
    body.thermal-80mm #page-wrap {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
        padding: 1.5mm;
        box-sizing: border-box;
        font-size: 11px;
    }

    body.thermal-80mm #header {
        margin: 0 0 2mm 0;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 2mm 0;
    }

    body.thermal-80mm #block1,
    body.thermal-80mm #block2 {
        display: block;
        overflow: visible;
    }

    body.thermal-80mm #logo,
    body.thermal-80mm #customer-title,
    body.thermal-80mm #company-title,
    body.thermal-80mm #meta {
        float: none !important;
        width: 100% !important;
        height: auto !important;
        margin: 0 0 2mm 0 !important;
        text-align: left;
    }

    body.thermal-80mm #logo {
        border: 0;
        max-height: none;
    }

    body.thermal-80mm #logo img {
        max-width: 100%;
        height: auto;
    }

    body.thermal-80mm #meta td,
    body.thermal-80mm #meta td.meta-head {
        text-align: left;
    }

    body.thermal-80mm #items {
        width: 100%;
        margin-top: 2mm;
        table-layout: auto;
    }

    body.thermal-80mm #items th,
    body.thermal-80mm #items td {
        padding: 1.2mm 0.8mm;
        font-size: 10px;
        line-height: 1.2;
        word-break: normal;
        overflow-wrap: normal;
    }

    body.thermal-80mm #items th.col-item-number,
    body.thermal-80mm #items td.col-item-number {
        display: none;
    }

    body.thermal-80mm #items th.col-qty,
    body.thermal-80mm #items td.col-qty {
        width: 9%;
        white-space: nowrap;
    }

    body.thermal-80mm #items th.col-price,
    body.thermal-80mm #items td.col-price {
        width: 13%;
        white-space: nowrap;
    }

    body.thermal-80mm #items th.col-disc,
    body.thermal-80mm #items td.col-disc {
        width: 11%;
        white-space: nowrap;
    }

    body.thermal-80mm #items th.col-total,
    body.thermal-80mm #items td.col-total {
        width: 13%;
        white-space: nowrap;
    }

    body.thermal-80mm #items td.item-name,
    body.thermal-80mm #items td.description {
        width: auto;
    }

    body.thermal-80mm #terms {
        margin-top: 3mm;
    }

    body.thermal-80mm #terms h5 {
        font-size: 10px;
        letter-spacing: 2px;
        padding: 0 0 1mm 0;
        margin: 0 0 1mm 0;
    }

    body.thermal-80mm #barcode svg,
    body.thermal-80mm #barcode img {
        max-width: 120px;
    }
}
